.chat-box-wrapper{
    flex-grow:1;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding:10px;
}
.message-pane{
 flex-grow: 1;
 display: flex;
 flex-direction: row;
}

.input-bar {
    width:80%;
}
.input-and-button{
    justify-content: space-around;
    display: flex;
}
.message-pane{
    flex-grow: 1;
    display: flex;
    overflow-y: scroll;
}
.messages-drawer {
    width:100%;
    flex-grow: 1;
}
.reciver{
    background-color: aquamarine;
    width: 100%;
    text-align: left;
    height: 1000px;
}
.sender{
    background-color: red;
    width: 100%;
    text-align: right;
}