
.login-wrapper{
   height:100vh;
   background: url('../../mainScreen.png') ;
   background-size: cover;
    margin:auto;
    flex-grow: inherit;
    display:flex;
    flex-direction: column;
}
.credential-wrapper{
    height:80%;
    width: 25%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 1px 10px 1px rgb(124, 120, 120);    
}
.input-button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.credential-wrapper:hover{
    box-shadow: 2px 1px 20px 1px rgb(124, 120, 120);    

}
.login-wrapper h1 {
    color:#fff;
}
#partitioned {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
    width: 80%;
    font-size: 15px;
    text-align:center;
    padding : 5px;
  }

  #partitioned::placeholder{
      color:#fff;
  }

  .new-test {
      transform: rotateY(180deg);
      transition: transform 2s;
      
  }

  #sign-in-button {
      padding:10px;
      width:140px;
      border-radius: 10px;
      background-image: repeating-radial-gradient(#203b,#c680bb,#8085c6);
      color:#fff;
      border: none;
      
      }

      #sign-in-button:hover {
          cursor: pointer;
      }