.single-contact {
    width: 98%;
    background-color: rgb(85, 85, 85);
    border-bottom: 1px solid rgba(15, 193, 216, 0.856);
    color:#fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin:auto;
    font-weight: 600;
    }   
.profile-pic-div{
    margin:15px;
    border-radius: 25px;
    width:45px;
    height: 45px;
    background-color: #fff;
}
.search-param{
    display: flex;
    flex-direction: column;
}
.search {
    background-color: rgba(12, 10, 10, 0.459) ;
}
.search input {
    padding:5px;
    border-radius: 15px;
    margin:10px;
    width:70%;
}
.initial-mesg-contact{
    font-size: 10px;
}